body {
	background-color: black;
}

#clock{
	text-align: center;
	font-size: 20em;
	color: white;
}

#currentState{
	text-align: center;
	font-size: 20em;
	color: red;
}

#message{
	text-align: center;
	font-size: 20em;
	color: white;
}