html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
	background-color: black;
    overflow: hidden;
}

#outputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    
    
    animation-name: move-left-right;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    position: relative;
}

@keyframes move-left-right {
    0%   {left:0px; top:0px;}
    25%   {left:100px; top:100px;}
    50%   {left:0px; top:0px;}
    75%   {left:-100px; top:-100px;}
    100% {left:0px; top:0px;}
}

#clock{
	text-align: center;
	color: white;
}

#currentState{
	text-align: center;
	color: white;
}

#message{
	text-align: center;
	color: white;
}

.output{
	font-size: 20em;
}